<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<header>
<div class="first">
	<div class="container">
		<div id="home">
			<img src="../images/logo/arms.png">
			<h1>PHÒNG KHÁM CHUYÊN KHOA</h1>
			<h2>Vật lý  trị liệu - Phục hồi chức năng</h2>
		</div>
		<div id="support">
			<img src="../images/icon/phone-icon.png">
			<h2>Câu hỏi cho bác sĩ</h2>
			<h3>05113941977</h3>
		</div>	
	</div>
</div>
		<nav class="menu">
			<div class="container">
				<ul>
				<li><a href="home.html">TRANG CHỦ</a></li>
				<li><a href="intro.html">GIỚI THIỆU</a></li>
				<li><a href="serice.html">DỊCH VỤ Y TẾ </a></li>
				<li><a href="regular-medicine.html">Y HỌC THƯỜNG THỨC</a></li>
				<li><a href="set-calendar.html">ĐẶT LỊCH KHÁM</a></li>
				<li><a href="suiccide.html">TƯ VẤN - LIÊN HỆ</a></li>
				<li>
				<div class="social">
					<a href="https://www.facebook.com/"><img src="../images/social/facebook.png"></a>
					<a href="https://www.google.com/"><img src="../images/social/google.png"></a>
					<a href="https://www.youtube.com/"><img src="../images/social/youtube.png"></a>
				</div>		
				</li>
				</ul>	
			</div>	
		</nav>
<div class="middle">
		<div class="container">
			<span>
				<a href="home.html">TRANG CHỦ/</a>
				<a href="sevice.html">DỊCH VỤ Y TẾ</a>
			</span>
		</div>
	</div>
</header>
<main class="clr">
<div class="container">
	<div  class="leftsubmenu">
		<div class ="submenuAdult">
			<div class="left1">
				<label >NGƯỜI LỚN</label>
				<img src="../images/icon/less.png">	
			</div>
			<nav>
				<ul>
				<li><a href="#">Đau cổ - vai - gáy</a></li>
				<li><a href="#">Đau cột sống</a></li>
				<li><a href="#">Thoát vị đĩa đệm</a></li>
				<li><a href="#">Khớp gối, khớp hông</a></li>
				<li><a href="#">Đau chân</a></li>
				<li><a href="#">Các bệnh về cơ</a></li>
				<li><a href="#">Thần kinh ngoại biên</a></li>
				<li><a href="#">Di chứng tai biến mạch máu não</a></li>
				<li><a href="#">Di chứng chấn thương </a></li>
				</ul>
			</nav>
		</div>
		<div class="submenuChild">
			<div class="left1">
				<label >TRẺ EM</label>
				<img src="../images/icon/add.png">	
			</div>
			<nav>
				<ul>
				<li><a href="#">Đau cổ - vai - gáy</a></li>
				<li><a href="#">Đau cột sống</a></li>
				<li><a href="#">Thoát vị đĩa đệm</a></li>
				<li><a href="#">Khớp gối, khớp hông</a></li>
				<li><a href="#">Đau chân</a></li>
				<li><a href="#">Các bệnh về cơ</a></li>
				<li><a href="#">Thần kinh ngoại biên</a></li>
				<li><a href="#">Di chứng tai biến mạch máu não</a></li>
				<li><a href="#">Di chứng chấn thương </a></li>
				</ul>
			</nav>
		</div>
		<form action="set-calendar.html" method="post"  name="set-calendar">
			<label id="setcal">ĐẶT LỊCH KHÁM</label><br>
			<input type="text" name="name" value="Họ và tên"><br>
			<input type="text" name="address" value="Địa chỉ"><br>
			<input type="text" name="phone-num" value="Số điện thoại"><br>
			<input  id="datetime" type="datetime-local" >
			<button class="setcalbtn">ĐẶT LỊCH</button>
		</form>
	</div> 			
	<div class="products">
		<div class="item">
			<ul>
			<li><a href="#"><img src="../images/item/item1.png">ĐAU CỔ VAI TAY</a></li>
			<li><a href="#">
				<label>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </label>
			</a></li>
			<li>
				<div class="arrow">
					<a href="#"><img src="../images/icon/arrow.png"></a>
				</div>
			</li>
			</ul>
		</div>
		<div class="item">
			<ul>
			<li><a href="#"><img src="../images/item/item2.png">ĐAU CỘT SỐNG</a></li>
			<li><a href="#">
				<label>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna  </label>
			</a></li>
			<li>
				<div class="arrow">
					<a href="#"><img src="../images/icon/arrow.png"></a>
				</div>
			</li>
			</ul>
		</div>
		<div class="item">
			<ul>
			<li><a href="#"><img src="../images/item/item3.png">THOÁT VỊ ĐĨA ĐỆM </a></li>
			<li><a href="#">
				<label>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </label>
			</a></li>
			<li>
				<div class="arrow">
					<a href="#"><img src="../images/icon/arrow.png"></a>
				</div>
			</li>
			</ul>
		</div>
		<div class="item">
			<ul>
			<li><a href="#"><img src="../images/item/item4.png">THOÁT VỊ ĐĨA ĐỆM</a></li>
			<li><a href="#">
				<label>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </label>
			</a></li>
			<li>
				<div class="arrow">
					<a href="#"><img src="../images/icon/arrow.png"></a>
				</div>
			</li>
			</ul>
		</div>
		<div class="item">
			<ul>
			<li><a href="#"><img src="../images/item/item5.png">THOÁT VỊ ĐĨA ĐỆM</a></li>
			<li><a href="#">
				<label>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</label>
			</a></li>
			<li>
				<div class="arrow">
					<a href="#"><img src="../images/icon/arrow.png"></a>
				</div>
			</li>
			</ul>
		</div>
		<div class="item">
			<ul>
			<li><a href="#"><img src="../images/item/item6.png">THOÁT VỊ ĐĨA ĐỆM</a></li>
			<li><a href="#">
				<label>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</label>
			</a></li>
			<li>
				<div class="arrow">
					<a href="#"><img src="../images/icon/arrow.png"></a>
				</div>
			</li>
			</ul>
		</div>
		<div class="item">
			<ul>
			<li><a href="#"><img src="../images/item/item7.png">THOÁT VỊ ĐĨA ĐỆM</a></li>
			<li><a href="#">
				<label>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</label>
			</a></li>
			<li>
				<div class="arrow">
					<a href="#"><img src="../images/icon/arrow.png"></a>
				</div>
			</li>
			</ul>
		</div>
		<div class="item">
			<ul>
			<li><a href="#"><img src="../images/item/item8.png">THOÁT VỊ ĐĨA ĐỆM</a></li>
			<li><a href="#">
				<label>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</label>
			</a></li>
			<li>
				<div class="arrow">
					<a href="#"><img src="../images/icon/arrow.png"></a>
				</div>
			</li>
			</ul>
		</div>
		<div class="item">
			<ul>
			<li><a href="#"><img src="../images/item/item9.png">THOÁT VỊ ĐĨA ĐỆM</a></li>
			<li><a href="#">
				<label>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</label>
			</a></li>
			<li>
				<div class="arrow">
					<a href="#"><img src="../images/icon/arrow.png"></a>
				</div>
			</li>
			</ul>
		</div>
	</div> 
</div>
</main>
<footer>
<label>bat dau footer</label>
<div class="container">
	<div class="footinfo">
		<div id="about">
			<label>VỀ PHÒNG KHÁM</label>
			<ul>
			<li><a href="#">GIỚI THIỆU CHUNG</a></li>
			<li><a href="#">NHÂN LỰC</a></li>
			<li><a href="#">TRANG THIẾT BỊ VÀ CƠ SỞ VẬT CHẤT</a></li>
			</ul>
		</div>
		<div id="supportlink">
			<label>HỖ TRỢ</label>
			<ul>
			<li><a href="#">TƯ VẤN SỨC KHỎE</a></li>
			<li><a href="#">Y HỌC THƯỜNG THỨC</a></li>
			<li><a href="#">ĐẶT LỊCH KHÁM</a></li>
			</ul>
		</div>
		<div id="socialconnect">
			<label>KẾT NỐI XÃ HỘI</label>
			<ul>
			<li><a  href="#" ><img src="../images/social/facebook1.png"> Facebook</a></li>
			<li><a href="#"><img src="../images/social/google1.png">Google +</a></li>
			<li><a href="#"><img src="../images/social/youtube1.png">Youtube</a></li>
			</ul>
		</div>
	</div>
</div>
</footer>	
</body>
</html>
