<h2>Trainers Information</h2>
<div class="container">
<div class="content">
  <table class="table-striped">
<tr>
  <th>Name</th>
  <th>Birthday</th>
  <th>Team</th>
  <th>Option</th>
</tr>
<tr *ngFor = "let trainer of trainers" [ngSwitch] = "trainer?.team">
  <td [empty]="trainer.name">{{trainer.name}}</td>
  <td [empty]="trainer.birthday">{{trainer.birthday}}</td>
  <td *ngSwitchCase = "'Ruby'" [ngStyle]="{'color': 'red'}" [empty]="trainer.team">{{trainer.team}}</td>
  <td *ngSwitchCase = "'FE'" [ngStyle]="{'color': '#BFAC8A'}" [empty]="trainer.team">{{trainer.team}}</td>
  <td><button (click) = "trainer.isShow = !trainer.isShow" class="btn btn-success">Detail</button></td>
</tr>
</table>
</div>
  <div *ngFor = "let trainer of trainers"  class="show">
   <div *ngIf = "trainer.isShow" >
   <ul>
     <li><img src="{{trainer.avatar}}" alt="avatar" class="img-circle">
</li>
    <li>My name is {{trainer.name}}, I was born at 
{{trainer.birthday}} and I work in {{trainer.team}} team.</li>
   </ul>


  </div>
</div>
</div>


