

<div class="show" *ngIf="article">
<form [formGroup]= "articleForm" (ngSubmit)="onSubmit()">

<div class="form-group">
  <label for="title">Title</label>
  <input type="text" class="form-control" placeholder="Title" id="title" formControlName = "title" value="{{article.title}}">
</div>

<div class="form-group">
  <label for="content">Content</label>
  <input type="text" class="form-control" placeholder="Content" id="content" formControlName = "content" value="{{article.content}}">
</div>
<div class="form-group">
  <label for="author">Author: </label>
  <input type="text" class="form-control" placeholder="author" id="author" formControlName = "author" value="{{article.author}}">
</div>
<button type="submit" [disabled] = "!articleForm.valid" class="btn btn-success">Edit member</button>
</form>
</div>