/*common*/

.clr::after{
    content: '';
    display: table;
    clear: both;
}

header::before {
	color: #000;
}
/*label {
	color: black;
}*/
header::after {
    background-color: #C00 ;
}
header:{
    float: left;
    background-color: lightblue;
    height: 40px;
}
footer{
        background-color: #62c6f8;
        height: 250px;
        width: 100%;
}
.class {
	background-color: #fff
}
/*main{
    float: left;
}*/


/*ul {
    background: #3399ff;
    padding: 20px;
}
*/
/*
header :: ul li {
    background: #fff;
    margin: 5px;
}

footer :: ul li {
    background: lightblue;
    margin: 5px;
}*/

/*.submenuChild, .submenuAdult{
    background: #fff;
    margin-left: -5px;
  list-style-type: none;
  text-align: left;
}*/
.footinfo{
    color: white;
}
.footinfo a{
    color: white;
}
.leftsubmenu{
    width: 27%;
    float: left;
    /*margin-right: 2%;*/
}
.products{
    width: 70%;
    float: right;
}
/*#middle {
    float: left;
}*/
.middle {
    background-image: url("../images/picture/doctor.png");
    float: left;
    width: 100%;
    height: 200px;
    background-size: cover;
}
.middle a{
    padding-top: 20px,20px;
}
.middle span{
    line-height: 200px;
}

/*#middle a{
    position: relative;
    left: 0px;
    top: 0px;
}*/
#item{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    width: 33%;
    background: #fff; 
    display: inline-block;
}
.submenuChild, .submenuAdult{
    border: 1px solid #ebebeb;
}
form{
    border: 1px solid #ebebeb;
}
input{
    width: 80%;
    margin: 0 auto;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.leftsubmenu img{
    float: right;

}
a:hover{
    color: #95d6fa;
}
/*ul li:hover{
    background-color:rgba(0,0,0,.5);
     -webkit-transition:all .5s ease-out;  
      -moz-transition:all .5s ease-out;  
       -ms-transition:all .5s ease-out;  
}*/

.menu ul {
  background: #fff;
  list-style-type: none;
  text-align: center;
}
.line{
    padding-top: -1px;
}
.menu{
    padding-top: 2px 2px;
    width: 93%;
    float: left;
}

.social{
    width: 7%;
    float:right;
}
.social a{
    line-height: 80px;
}

a {
    color: gray;
    text-decoration: none;
    /*doi mau va xoa gach duoi link*/
}
.menu{
    border-top: 1px solid black;
    margin-left: -2px;
    margin: -2px;
    margin-top: 11px;
}
.menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 180px;
  padding-top: -2px;
  content: all;
/*  height: 40px;
*//*  line-height: 40px;
*/  margin-left: -2px;
/*  margin: -2px;
*/  border-right: 1px solid black;
}


#home{
    width: 70%;
    height: 70px;
    float: left;
}


#support{
    height: 70px;
    width: 28%;
    float: right;
}

#home img{
    float: left;
}

.container{
    max-width: 1240px;
    display: block;
    margin: 0 auto;
    border: none;

}

#item img{
    max-width: 100%;
}

#about{
float: left;
width: 33%;
}
#supportlink{
float: left;
width: 33%;
}
#socialconnect{
float: left;
width: 33%;
}

div .container{
            margin-left: auto;
            margin-right: auto;
        }