
<div class="show">
<h1>
  Click add to add this product to your cart!
</h1>
<div class="item" *ngFor="let product of products">
    <ul  class="list-group">
      <li><img src="{{product.image}}"></li>
      <li class="list-item">Id: {{product.id}}</li>
      <li class="list-item">Name: {{product.name}}</li>
      <li class="list-item">Price: {{product.price}}</li>
<!--       <li><p>Input your quantity:</p>
      <select name="quantity" multiple>
        <option value="{{product.price}}"></option>
      </select>
      </li> -->
      <li class="list-item"><button (click) = "addList(product)" class="btn btn-success">add </button></li>
    </ul>
</div>
</div>